name: Reison Front-end Deploy
 
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  deploy:
    runs-on: ubuntu-22.04
    permissions:
      contents: write
      packages: read
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - name: Prepare yarn
        run: |
            echo "nodeLinker: node-modules"                              >> ~/.yarnrc.yml
            echo ""                                                      >> ~/.yarnrc.yml
            echo "npmScopes:"                                            >> ~/.yarnrc.yml
            echo "  fortawesome:"                                        >> ~/.yarnrc.yml
            echo "    npmAlwaysAuth: true"                               >> ~/.yarnrc.yml
            echo "    npmRegistryServer: 'https://npm.fontawesome.com/'" >> ~/.yarnrc.yml
            corepack enable

      - name: Run install
        uses: borales/actions-yarn@v5
        with:
          cmd: install

      - name: Build production bundle
        uses: borales/actions-yarn@v5
        with:
          cmd: build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        if: github.ref == 'refs/heads/master'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist